<h1>Naomi Kramer</h1>
<p>Naomi is an utter Ruby newbie, attending a Rails Girls workshop in Brisbane.</p>
<img src="https://railsgirls-nomesque.c9users.io/uploads/idea/picture/1/pensive.jpg" width=100px />
